<li class="protest">
	<div class="row" data-equalizer>
		<div class="large-12 columns" data-equalizer-watch>
			<div class="<%= protest.state.downcase %> state">
				<%= protest.state %>
			</div>
			<span class="date"><%= Date.parse(protest.date.to_s).strftime("%d %b %Y") %></span>
		</div>
		<div class="large-12 columns" data-equalizer-watch>
			<h3 class="protest-heading"><%= link_to truncate(protest.title, length: 130), protest %></h3>
		</div>
		<div class="large-12 columns" data-equalizer-watch>
			<p><%= Time.parse(protest.time.to_s).strftime("%H:%M") %> </p>
		</div>
		<div class="large-12 columns" data-equalizer-watch>
			<p><%= Date.parse(protest.date.to_s).strftime("%A %e %B %Y") %></p>
		</div>
		<div class="large-12 columns" data-equalizer-watch>
			<p><%= protest.starting_location %></p>
		</div>
		<div class="large-12 columns" data-equalizer-watch>
			<p> <%= link_to 'more info', protest %> </p>
		</div>
	</div><!-- row -->
</li>
