<%= provide(:title, "#{@protest.title} | ProtestAustralia") %>
<h1><%= @protest.title %></h1>

<div class="row">
	<% if current_user.try(:admin?) %>
		<div class="large-12 columns">
			<div class="box admin-box">
				<h3 class="subheading">Admin:</h3>
				<p>User ID: <%= @user.id %></p>
				<p>Username: <%= @user.email %></p>
			</div>
		</div>
	<% end %>
</div><!-- row -->

<div class="show-protest-container">
	<div class="row">
		<div class="large-12 columns">
			<div class="box <%= @protest.state.downcase %>">
				<h3 class="protest-heading"><%= Time.parse(@protest.time.to_s).strftime("%H:%M") %>, <%= Date.parse(@protest.date.to_s).strftime("%A %e %B %Y") %></h3>
			</div>
		</div>
	</div> <!-- row -->
	<div class="row">
		<div class="large-6 columns">
			<div class="box">
				<p><span class="highlight red-text">Starting location: </span><%= @protest.starting_location %></p>
			</div>
		</div>

		<div class="large-6 columns">
			<div class="box">
				<p><span class="highlight red-text">Starting location: </span><%= @protest.starting_location %></p>

			</div>
		</div>
	</div><!-- row -->
</div>
