<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Protest Australia" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
     <div id="container">
         <header class="header">
            <h1 class="top_header"><%= link_to "Protest Australia", root_path %></h1>
            <div class="top-menu">
               <div class="button-small"><i class="fa fa-twitter"></i></div>
               <div class="button-small"><i class="fa fa-facebook"></i></div>
               <% if current_user.try(:admin?) %>
                  <div class="button-small">Admin:</div>
               <% end %>
               <% if signed_in? %>
                     <div class="button"><%= current_user.email %></div>
                     <%= link_to "My Protests", my_protests_path, class: "button" %> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "button" %>
               <% else %>
                     <%= link_to "Register", new_user_registration_path, :method => :get, class: "button" %> <%= link_to "Sign In", new_user_session_path, :method => :get, class: "button" %>
               <% end %>

               <div class="button-small menu-top-right" id="menu-icon"><i class="fa fa-bars"></i>

                  <ul class="dropdown-menu" id="dropdown-menu">
                     <li class="dropdown-menu-item"><%= link_to "Protests", protests_path %></li>
                     <li class="dropdown-menu-item"><%= link_to "Add a Protest", new_path %></li>
                     <li class="dropdown-menu-item"><%= link_to "My Protests", my_protests_path %></li>
                     <li class="dropdown-menu-item"><%= link_to "Related Sites", related_sites_path %></li>
                     <li class="dropdown-menu-item"><%= link_to "About Us", about_us_path %></li>
                     <li class="dropdown-menu-item"><%= link_to "Contact Us", contact_us_path %></li>
                  </ul><!-- dropdown-menu -->
               </div><!-- id:menu-icon -->
         </header>
   			<% flash.each do |key, value| %>
   				<div id="message"><p><%= value %></p></div>
   			<% end %>


   		    <%= yield %>
   		    <%= javascript_include_tag "application" %>
		</div><!-- container -->
  </body>
</html>
